# -*- mode: ruby -*-
# vi: set ft=ruby :

PRODUCT_NAME = "cakephp"
CHEF_DIR = "/vagrant/chef"

# Vagrantfile API/syntax version. Don't touch unless you know what you're doing!
VAGRANTFILE_API_VERSION = "2"

Vagrant.configure(VAGRANTFILE_API_VERSION) do |config|
  config.vm.hostname = PRODUCT_NAME
  config.vm.box = "centos65"
  config.vm.box_url = "https://github.com/2creatives/vagrant-centos/releases/download/v6.5.1/centos65-x86_64-20131205.box"

  config.vm.network :private_network, ip: "192.168.33.22"
  config.vm.boot_timeout = 120

  config.vm.provider :virtualbox do |vb|
    # Don't boot with headless mode
    # vb.gui = true
 
    # Use VBoxManage to customize the VM. For example to change memory:
    vb.customize ["modifyvm", :id, "--memory", "1024"]
  end

  config.vm.provision :chef_solo do |chef|
    chef.cookbooks_path = CHEF_DIR + "/site-cookbooks"
    
    chef.add_recipe     "cakephp"

    chef.json = {
      :product_name => PRODUCT_NAME,
       :apache => {
        :default_site_enabled => true,
        :docroot_dir => '/vagrant/app/webroot'
      },
      :mysql => {
        :server_root_password => PRODUCT_NAME,
        :server_repl_password => PRODUCT_NAME,
        :server_debian_password => PRODUCT_NAME
      },
      :php => {
        :timezone => 'Asia/Tokyo'
      }
    }
  end

  config.omnibus.chef_version = :latest

  config.berkshelf.enabled = true

  config.vm.synced_folder "./", "/vagrant", :create => true, :owner=> 'vagrant', :mount_options => ['dmode=777','fmode=777']

  if Vagrant.has_plugin?("vagrant-cachier")
    config.cache.scope = :box
  end
end

